<footer class="site-footer">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <nav class="footer-nav clearfix">
                              <ul class="footer-menu">
                                    <li><a href="/index.html">Home</a></li>
                                    <li><a href="￥">Portfolio</a></li>
                                    <li><a href="/blog/index.html">Blog Posts</a></li>
                                    <li><a href="#">Shortcodes</a></li>
                                    <li><a href="#">Contact</a></li>
                              </ul>
                              <!-- /.footer-menu -->
                        </nav>
                        <!-- /.footer-nav -->
                  </div>
                  <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                  <div class="col-md-12">
                        <p class="copyright-text">Copyright &copy; 2084 Company Name
                              | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect
                              from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
                  </div>
                  <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
      </div>
      <!-- /.container -->
</footer>
<!-- /.site-footer -->

<!-- Scripts -->
<script src="{{ASSET_PATH}}/js/min/plugins.min.js"></script>
<script src="{{ASSET_PATH}}/js/min/medigo-custom.min.js"></script>

<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<!-- Templatemo Script -->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?7f4b9df646e2d704fdc6bb9cf7f261fb";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

    // 多说公共JS代码 start (一个网页只需插入一次)
    var duoshuoQuery = {short_name:"sunfuchang"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();

    $('.sf-menu > li > a').click(function (e) {
        e.preventDefault();
        var _this = $(this);
        var href = _this.attr('href');
        location.href = href;
        _this.parent().siblings().removeClass('active');
        _this.parent().addClass('active');
    });
</script>